@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
    color: #403f3d;
}
html,
body {
    position: relative;
    background-color: #fcfdfd;
}

$colorText: #687273;

@import "./animation";
@import "./nav";
@import "./footer";
@import "./index";
@import "./resume";
@import "./contact";
@import "./portfolio";
